html, body {
    margin: 0;
}
body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
    "header header"
    "nav    main";
}

body > header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    margin: 10px;
    gap: 10px;
}
body > header p {
    margin: 0;
}
body > header h1 {
    margin: 0;
}
body > nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 10px;
}
body > nav > ul {
    list-style: none;
    padding-left: 0;
}
body > main {
    grid-area: main;
}

.table {
    display: table;
    border-collapse: collapse;
}
.table .header {
    display: table-header-group;
    font-weight: bold;
}
.table .header > *, .table .tr > * {
    display: table-cell;
    border: 1px solid #bbb;
    padding: 5px;
}
.table .tr {
    display: table-row;
}
.table .tr:nth-child(even) {
    background-color: rgb(240, 243, 255);
}
.option-box {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 10px;
}
.horizontal {
    display: flex;
    gap: 10px;
}
.vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex {
    flex: 1;
}
