body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
    "header header"
    "nav    main";
}

body > header {
    grid-area: header;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr auto auto;
}
body > nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 1fr auto;
}
body > nav > ul {
    list-style: none;
    padding-left: 0;
}
body > main {
    grid-area: main;
}
