{% extends "_base.html" %}

{%- block title -%}designer{%- endblock -%}
{%- block extracss -%}{%~ include "designer.css" ~%}{%- endblock -%}
{%- block extrajs -%}{%~ include "designer.js" ~%}{%- endblock -%}

{%- block content -%}
<form class="horizontal" action="" method="post" enctype="multipart/form-data">
    <div class="option-box">
        <p>page</p>
        <p>
            <span>width:</span>
            <input type="number" name="page_width_mm" step="0.1" value="{{ config.page_width_mm }}">
            <span>mm</span>
        </p>
        <p>
            <span>height:</span>
            <input type="number" name="page_height_mm" step="0.1" value="{{ config.page_height_mm }}">
            <span>mm</span>
        </p>
        <p>
            <span>DPI:</span>
            <input type="number" name="dpi" value="{{ config.dpi }}">
        </p>
    </div>
    <div class="option-box">
        <p>avatar</p>
        <p>
            <span>size:</span>
            <input type="number" name="avatar_size_pt" step="0.1" value="{{ config.avatar_size_pt }}">
            <span>pt</span>
        </p>
        <p>
            <span>y:</span>
            <input type="number" name="avatar_y_pt" step="0.1" value="{{ config.avatar_y_pt }}">
            <span>pt</span>
        </p>
    </div>
    <div class="option-box">
        <p>regnumber</p>
        <p>
            <span>size:</span>
            <input type="number" name="regnum_size" step="0.1" value="{{ config.regnum_size }}">
            <span>pt</span>
        </p>
        <p>
            <span>x:</span>
            <input type="number" name="regnum_x_pt" step="0.1" value="{{ config.regnum_x_pt }}">
            <span>pt</span>
        </p>
        <p>
            <span>y:</span>
            <input type="number" name="regnum_y_pt" step="0.1" value="{{ config.regnum_y_pt }}">
            <span>pt</span>
        </p>
        <p>
            <span>colour:</span>
            <input type="color" name="regnum_color" value="{{ config.regnum_color }}">
        </p>
    </div>
    <div class="option-box">
        <p>nickname</p>
        <p>
            <span>size:</span>
            <input type="number" name="nick_size" step="0.1" value="{{ config.nick_size }}">
            <span>pt</span>
        </p>
        <p>
            <span>y:</span>
            <input type="number" name="nick_y_pt" step="0.1" value="{{ config.nick_y_pt }}">
            <span>pt</span>
        </p>
        <p>
            <span>colour:</span>
            <input type="color" name="nick_color" value="{{ config.nick_color }}">
        </p>
    </div>
    <div class="option-box">
        <p>name font: <input type="file" name="name_font"></p>
        <p>nr font: <input type="file" name="nr_font"></p>
        <input type="submit" value="update">
    </div>
</form>
<section class="table">
    <section class="header">
        <p></p>
        <p>#</p>
        <p>media</p>
        <p>condition</p>
        <p>badge type</p>
        <p>comment</p>
        <p></p>
    </section>
    {% for layer in layers %}
    <form class="tr" action="" method="post" enctype="multipart/form-data">
        <div>
            <input type="hidden" name="row" value="{{ layer.id }}">
            <input type="submit" name="action" value="↑" />
            <input type="submit" name="action" value="↓" />
            <input type="submit" name="action" value="x" />
        </div>
        <p>{{ layer.id }}</p>
        <div>
            {%- if layer.asset_path == "badge" %}badge
            {%- else %}
                <img src="{{ assets_dir }}/{{ layer.asset_path}}"><br>
                <input type="file" name="file" accept="image/png, image/jpeg">
            {%- endif %}
        </div>
        <div>
            <select name="event_is">
                <option value="true" {% if !layer.event_not %}selected{% endif %}>is</option>
                <option value="false" {% if layer.event_not %}selected{% endif %}>is not</option>
            </select>
            <select name="event_name">
                <option value="Any" {% if layer.event.is_any() %}selected{% endif %}>any</option>
                <option value="Ticket" {% if layer.event.is_ticket() %}selected{% endif %}>any ticket</option>
                <option value="Ticket_convention" {% if layer.event.is_ticket_convention() %}selected{% endif %}>convention ticket</option>
                <option value="Ticket_wed" {% if layer.event.is_ticket_wed() %}selected{% endif %}>wednesday ticket</option>
                <option value="Ticket_thu" {% if layer.event.is_ticket_thu() %}selected{% endif %}>thursday ticket</option>
                <option value="Ticket_fri" {% if layer.event.is_ticket_fri() %}selected{% endif %}>friday ticket</option>
                <option value="Ticket_sat" {% if layer.event.is_ticket_sat() %}selected{% endif %}>saturday ticket</option>
                <option value="Ticket_sun" {% if layer.event.is_ticket_sun() %}selected{% endif %}>sunday ticket</option>
                <option value="Fursuit" {% if layer.event.is_fursuit() %}selected{% endif %}>fursuit</option>
                <option value="Sponsor" {% if layer.event.is_sponsor() %}selected{% endif %}>sponsor</option>
                <option value="Staff" {% if layer.event.is_staff() %}selected{% endif %}>staff</option>
                <option value="Media" {% if layer.event.is_media() %}selected{% endif %}>media</option>
            </select>
        </div>
        <div>
            <select name="badge_type">
                <option value="Any" {% if layer.badge_type.is_any() %}selected{% endif %}>any</option>
                <option value="Fursuit" {% if layer.badge_type.is_fursuit() %}selected{% endif %}>fursuit</option>
                <option value="Con_ticket" {% if layer.badge_type.is_con_ticket() %}selected{% endif %}>con ticket</option>
                <option value="Day_ticket" {% if layer.badge_type.is_day_ticket() %}selected{% endif %}>day ticket</option>
            </select>
        </div>
        <div><input type="text" name="title" value="{{ layer.title }}"></div>
        <div><input type="submit" name="action" value="update" /></div>
    </form>
    {% endfor %}
    <form class="tr" action="" method="post" enctype="multipart/form-data">
        <div>
            <input type="hidden" name="row" value="{{ layers.len() + 1 }}">
            <input type="submit" name="action" value="add">
        </div>
    </form>
</section>
{%- endblock -%}
