.horizontal {
    display: flex;
    gap: 10px;
}
.vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p {
    margin-top: 0;
}
.flex {
    flex: 1;
}
.option-box {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 10px;
}

table#badges {
    border-collapse: collapse;
    display: block;
}
table#badges th, table#badges td {
    border: 1px solid #bbb;
    padding: 5px;
}
table#badges td.Paid, table#badges td.Yes {
    background-color: #a9ffba;
}
table#badges td.Unpaid, table#badges td.No.red-no {
    background-color: #ffa9a9;
}
table#badges td.Unknown {
    background-color: #d4d4d4;
}
table#badges tr:nth-child(even) {
    background-color: rgb(240, 243, 255);
}
